<html><head>
<meta http-equiv='Content-Type' content='text/html; charset=windows-1252'>
 <meta name="format-detection" content="telephone=no"> 
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
</head>
<body cz-shortcut-listen='true' class='color:#313332;'>
<blockquote class='gmail_quote' style='width: 800px;margin: 0 auto;padding-left:1ex'><u></u>  
  <div style='margin:0;padding:0'>
    
    <table border='0' cellpadding='0' cellspacing='0' width='100%'>
		<tbody>
			<tr>
				<td align='center' style='background-image:url(./img/bg.png);'>
				 
								  <a href='https://photon.okta.com' target='_blank'>
									   <img alt='vms' border='0' src='./img/logo.png' style='padding: 20px 0px;'>
								  </a>
			  <table align='center' border='0' cellpadding='0' cellspacing='0' style='width:600px; background-color: rgb(255, 255, 255);box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.45);border: 1px solid #ccc;
    border-radius: 5px;'>
				<tbody>
					<tr>
					  <td style='font-size:0'>&nbsp;</td>
					  <td style='border-radius:6px' width='645'>
						<table bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' width='100%'>
							<tbody>
							  <tr>
								<!--<td align='left' style='color:#313332;line-height:46px;padding: 30px 16px 8px 16px;text-align: -webkit-center;'>-->
								
								<td align='left' style='color:#313332;line-height:46px;padding: 6% 0% 0% 0%;text-align: -webkit-center;'>
									<span style='font-weight:400;font-size: 20px;font-family:\"Open Sans\", sans-serif'>Unfreezed Account</span>
								</td>
							  </tr>
							  <tr>
								<!--<td align='left' style='color:#313332;line-height:46px;padding: 30px 16px 8px 16px;text-align: -webkit-center;'>-->
								
								<td align='left' style='color:#5f6e74;padding: 1% 0% 0% 0%;text-align: -webkit-center;'>
									<span style='font-size: 16px;font-family:\"Open Sans\", sans-serif;font-weight:100;'>This is to intimate that your account has been unfrozen to submit</span>
								</td>
							  </tr>
							  							  <tr>
								<!--<td align='left' style='color:#313332;line-height:46px;padding: 30px 16px 8px 16px;text-align: -webkit-center;'>-->
								
								<td align='left' style='color:#5f6e74;padding: 1% 0% 0% 0%;text-align: -webkit-center;'>
									<span style='font-size:16px;font-family:\"Open Sans\", sans-serif;font-weight:100;'>leave as per the following details:</span>
								</td>
							  </tr>
							 
							</tbody>
						 </table>
						 <!---<table bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' width='100%'>
							<tbody>
							  <tr align='left' style='color:#313332;line-height:46px;padding: 6% 0% 0% 0%;text-align: -webkit-center;'>
								<td align='left' style='width: 59%;color:#5f6e74;padding: 5% 0% 0% 0%;'>
									<span>From Date:</span>
								</td>
								<td align='left' style='color:#5f6e74;padding: 5% 0% 0% 0%;font-weight:600;'>
									<span>08.04.2019</span>
								</td>
							  </tr>
							  	<tr align='left' style='color:#313332;line-height:46px;padding: 6% 0% 0% 0%;text-align: -webkit-center;'>
								<td align='left' style='width: 59%;color:#5f6e74;padding: 5% 0% 0% 0%;'>
									<span>To Date:</span>
								</td>
								<td align='left' style='color:#5f6e74;padding: 5% 0% 0% 0%;font-weight:600;'>
									<span>11.04.2019</span>
								</td>
							  </tr>
							 
							</tbody>
						 </table>--->
						 <table style='width:100%; font-size:14px; padding-top:20px; font-family: \"Open Sans\", sans-serif;'>
							<tbody>
							  <tr>
								<td align='right' style='color:#5f6e74; width: 50%;padding: 0px 0px 12px 0px;'>
									<span>From Date:</span>
								</td>
								<td align='left' style='color:#5f6e74;font-weight:600;padding: 0px 0px 12px 0px;'>
									<span style='padding: 0px 0px 0px 11px;'>18-Jan-19</span>
								</td>
							  </tr>
							  	<tr style='padding:23px;'>
								<td align='right' style='width: 50%;color:#5f6e74;'>
									<span>To Date:</span>
								</td>
								<td align='left' style='color:#5f6e74;font-weight:600;'>
									<span style='padding: 0px 0px 0px 11px;'>20-Jan-19</span>
								</td>
							  </tr>
							 </tbody>
						</table>	  
						  <table style='padding: 0% 0% 6% 0%;font-family: \"Open Sans\", sans-serif; width:100%;'>
							<tbody>
							  <tr style='font-size: 14px;'>
								<td align='center' style='color:red;padding: 2% 0% 0% 0%;'>
									<span>Note : Your account will remain unfrozen only for 2 days.
</span>
								</td>
								
							  </tr>
							 
							</tbody>
						 </table>
						
						 <table bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' width='100%' style='padding: 0% 0% 6% 0%;'>
							<tbody>
							  <tr>
								<td align='left' style='color:#5f6e74;padding: 2% 0% 0% 0%;text-align: -webkit-center;'>
									<span style='font-size:15px;font-family:\"Open Sans\", sans-serif;font-weight:100;'>You can view the leave request by clicking on the below link</span><br>
									<a href='https://lms.photoninfotech.com/lms/#review' style='color:#e68e21;font-size: 14px;font-family:\"Open Sans\", sans-serif;'>https://lms.photoninfotech.com/lms/#review</a>
								</td>
							  </tr>
							 
							</tbody>
						 </table>
						</td>
						<td style='font-size:0'>&nbsp;</td>
					</tr>
				</tbody>
			  </table>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table border='0' cellpadding='0' cellspacing='0' style='color:#5f6e74;font-size:12px' width='100%'>
		<tbody>
			<tr>
				<td align='center'>
				  <table align='center' border='0' cellpadding='0' cellspacing='0' style='padding: 10px;'>
					<tbody>
						<tr>
						  <td align='center' style='color:#5f6e74;font-family:\"Open Sans\", sans-serif;font-size:12px;'>
						   <p style='font-size:14px;'>Regards,</p>
						  </td>
						</tr>
						<tr>
						  <td align='center' style='color:#000;font-family:\"Open Sans\", sans-serif;font-size:12px;'>
						   <p style='font-size:14px;font-weight:600;padding: 7px;'>Vacation Management System</p>
						  </td>
						</tr>
					</tbody>
				  </table>
				</td>
			</tr>
		</tbody>
	</table>
  </div>
  </blockquote>
  </body>
  </html>